.image-choice-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: var(--common-gap);
  column-gap: var(--common-gap);
  row-gap: var(--common-gap);
  justify-content: center;
  align-items: center;
  justify-self: flex-start;
}

.image-choice {
  animation-name: image-picker-appear;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.image-choice img {
  --image-choice-length: calc(0.5 * var(--min-dimension) - 2 * var(--common-gap));
  width: var(--image-choice-length);
  height: var(--image-choice-length);
  border-radius: var(--common-border-radius);
}

.image-choice:nth-child(1) {
  animation-delay: 2s;
}

.image-choice:nth-child(2) {
  animation-delay: 2.25s;
}

.image-choice:nth-child(3) {
  animation-delay: 2.5s;
}

.image-choice:nth-child(4) {
  animation-delay: 2.75s;
}

@keyframes image-picker-appear {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.filler {
  flex-grow: 1;
}

.selected-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(40, 48, 68, 0.9);
}

.selected-image-wrapper .selected-image {
  padding: var(--common-gap);
  flex-grow: 1;
  flex-shrink: 1;

  animation: text-fall-down;
  animation-duration: 0.75s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes text-fall-down {
  from {
    transform: translate(0, -50vh);
  }

  to {
    transform: translate(0, 0);
  }
}

.selected-image-wrapper .selected-image img {
  width: 100%;
  height: 100%;
  border-radius: var(--common-border-radius);
}

.selected-image-wrapper .selected-message {
  padding: var(--common-gap);
  text-align: center;
  color: var(--mint-cream);
  flex-grow: 1;

  animation-name: message-picked-appear;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}


@keyframes message-picked-appear {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.selected-image-wrapper .my-button-wrapper .my-button-side-text,
.selected-image-wrapper .my-button-wrapper .my-button-inner-text {
  color: var(--mint-cream);
}