.my-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: var(--common-gap);
  padding: 0 var(--common-gap) var(--common-gap);
  cursor: pointer;

  animation-duration: 1s;
  animation-delay: 2s;
  animation-name: button-fade-in;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

@keyframes button-fade-in {
  from {
    opacity: 0;
    pointer-events: none;
  }

  to {
    opacity: 1;
    pointer-events: all;
  }
}

.forward-button-wrapper {
  align-self: flex-end;
  flex-direction: row;
}

.back-button-wrapper {
  align-self: flex-start;
  flex-direction: row-reverse;
}

.my-button-wrapper .my-button-side-text {
  color: var(--space-cadet);
  font-weight: bold;
  font-size: calc(0.06 * var(--min-dimension));
}

.my-button-wrapper .my-button-inner-text {
  color: var(--space-cadet);
  font-weight: bold;
  font-size: calc(0.15 * var(--min-dimension));
}