.my-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: var(--common-gap);
  padding: 0 var(--common-gap) var(--common-gap);

  animation-duration: 1s;
  animation-delay: 2s;
  animation-name: button-fade-in;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

@keyframes button-fade-in {
  from {
    transform: translate(-100vw);
    pointer-events: none;
  }

  to {
    transform: translate(0);
    pointer-events: all;
  }
}

.forward-button-wrapper {
  align-self: flex-end;
}

.back-button-wrapper {
  align-self: flex-start;
}

.my-button-wrapper .my-button {
  color: var(--space-cadet);
  font-weight: bold;
  font-size: calc(0.06 * var(--min-dimension));
  padding: 0.5em;
  border: 3px solid var(--space-cadet);
  background-color: var(--persian-orange);
  border-radius: var(--common-border-radius);
  display: flex;
  align-items: center;
  column-gap: var(--common-gap);
}