.end-image-wrapper {
  margin: var(--common-gap);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  animation-name: brie-up;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: 1;
}

@keyframes brie-up {
  from {
    transform: scale(0) rotate(0deg);
  }

  to {
    transform: scale(1) rotate(360deg);
  }
}

.end-image-wrapper img {
  height: 100%;
  width: 100%;
  border-radius: 10%;
}