.small-image-wrapper {
  width: var(--full-width);
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;

  animation-name: dog-appear;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes dog-appear {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.small-image-wrapper .happy-pup {
  width: 100%;
  height: 95%;
  border-radius: var(--common-border-radius);
}