.small-image-wrapper {
  width: var(--full-width);
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.small-image-wrapper .happy-pup {
  width: 100%;
  height: 95%;
  border-radius: var(--common-border-radius);
}